@use "src/styles/colors";

.about-me {
    
    .header {
        //font-size: 12px;
        font-weight: 600;
        //border-bottom: solid 2px colors.$windows-blue;
        padding-bottom: 4px;
        width: max-content;
    }

}