@use "src/styles/colors";

.windows-navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;

    background: colors.$windows-blue-gradient;
    //background-color: colors.$windows-blue;

    .row {
        display: flex;
        align-items: center;
    }

    .start-button {
        height: 100%;
        background: colors.$windows-green-gradient;
        //background-color: colors.$windows-green;
        display: flex;
        align-items: center;
        padding: 0px 20px;
        cursor: pointer;

        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        
        .logo {
            margin-right: 8px;
        }

        p {
            color: white;
            vertical-align: middle;
            margin-bottom: 4px;
            font-size: 20px;
            text-shadow: 2px 2px 3px colors.$shadow;
        }
    }

    .time-panel {
        background: colors.$windows-light-blue-gradient;
        //background-color: colors.$windows-light-blue;
        padding: 0px 20px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;

        .title {
            color: white;
        }
    }
}